<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <br>
  <div class="row">
    <!-- <form action="/cronJob/" method="post"> -->
    <form action="{% url 'cronJob' %}" method="post">
      <input type="text" name="inp1">      
      <input type="submit" name="inp2">
    </form>  <br>
  </div>

   <div class="row">
    <form action="" method="post"> 
      <input type="text" name="inp3">  
      <input class="formSecond" type="submit" name="inp4">
    </form><br>
  </div>

  <div class="row">
    <form id="form3" action='' method='post'> 
      <input id="your_name" type="text" name="inp5" value="{{ current_name }}">
      <input type="submit" value="submit3" name='inp6'>
    </form>
  </div>


</body>
</html>